<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Sick Place</title>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/mapbox.min.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="script.js"></script>
    <link rel="stylesheet" type="text/css" href="css/mapbox.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <script type="text/javascript" src="js/bootstrap-slider.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-slider.min.css">
  </head>
  <body>
    <script type="text/javascript">
      var main = {
        token: "pk.eyJ1Ijoic3l6OTkiLCJhIjoiY2o5bTE3ZjJyNHA4NjMzbHNsdjZ1ZzJjZSJ9.O7McJy9z5ioFmv3mxfYyYw",
        url: "https://api.mapbox.com/v4/mapbox.streets/{z}/{x}/{y}.png",
        latitude: 0,
        longitude: 0,
        map: null,
        sickPoints: null,
        markerGroup: null,
      }
    </script>

    <!-- REPORT SICKNESS MODAL -->
    <div id="report-sickness-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Report Sickness">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Report Sickness</h4>
          </div>
          <div class="modal-body container-fluid">
            <div style="text-align: center;">
              <h3>Location</h3>
              <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-3">
                  <input id="latitude" class="input" type="text" placeholder="Latitude" readonly/>
                </div>
                <div class="col-xs-3">
                  <input id="longitude" class="input" type="text" placeholder="Longitude" readonly/>
                </div>
                <div class="col-xs-4">
                  <div class="button" onclick="getLocation()"><div>Fetch Location</div></div>
                </div>
                <div class="col-xs-1"></div>
              </div>
              <hr/>
              <h3>Sickness Severity</h3>
              <div class="row">
                <div class="col-xs-2 col-md-3"></div>
                <div class="col-xs-8 col-md-6">
                  <input id="severity" class="input" type="range" data-slider-min="0" data-slider-max="1" data-slider-step="0.01" data-slider-value="0.5" placeholder="Sickness Severity" onkeyup="checkSeverity()" onchange="checkSeverity()"/>
                <div class="col-xs-2 col-md-3"></div>
                </div>
              </div>
              <div id="severity-error"></div>
              <hr/>
              <div class="row">
                <div class="col-xs-3"></div>
                <div class="col-xs-6">
                  <div class="button" onclick="submitReport()"><div>Submit Report</div></div>
                </div>
                <div class="col-xs-3"></div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Dismiss</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END REPORT SICKNESS MODAL -->

    <div class="container" style="margin: 0 auto">
      <div class="col-xs-0 col-sm-1 col-md-2"></div>
      <div id="page" class="col-xs-12 col-sm-10 col-md-8">
        <h1 id="title">Sick Place</h1>
        <hr/>
        <div id="map"></div>
        <hr/>
        <div id="report-sickness-button" data-toggle="modal" data-target="#report-sickness-modal" onclick="getLocation()">
          <div>+</div>
        </div>
      </div>
      <div class="col-xs-0 col-sm-1 col-md-2"></div>
    </div>

  </body>
</html>
