html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(183, 227, 255);
}

svg {
    background: white;
    height: 15vh;
    width: 98vw;
}

map_holder {
    width: 50%;
}