@model backend.Models.SicknessReportModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>SicknessReportModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Timestamp" class="control-label"></label>
                <input asp-for="Timestamp" class="form-control" />
                <span asp-validation-for="Timestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitute" class="control-label"></label>
                <input asp-for="Latitute" class="form-control" />
                <span asp-validation-for="Latitute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitute" class="control-label"></label>
                <input asp-for="Longitute" class="form-control" />
                <span asp-validation-for="Longitute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Severity" class="control-label"></label>
                <input asp-for="Severity" class="form-control" />
                <span asp-validation-for="Severity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sickness" class="control-label"></label>
                <select asp-for="Sickness" class="form-control"></select>
                <span asp-validation-for="Sickness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
